body {
  background-color: #333333;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
  }


.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }


h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 30px;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    position: relative;
  }
  
  a:hover {
    color: #c2a364;
    text-decoration: underline;
  }

